router bgp 65279
router bgp 65279,no bgp default ipv4-unicast
router bgp 65279,bgp log-neighbor-changes
router bgp 65279,bgp graceful-restart restart-time 120
router bgp 65279,redistribute kernel route-map IPV4-RHI-BGP
router bgp 65279,redistribute connected route-map IPV4-CONNECTED
router bgp 65279,redistribute static route-map IPV4-STATIC
router bgp 65279,neighbor IPV4-NORTHSIDE-PG peer-group
router bgp 65279,neighbor IPV4-NORTHSIDE-PG remote-as 65179
router bgp 65279,neighbor IPV4-NORTHSIDE-PG timers 1 12
router bgp 65279,neighbor IPV6-NORTHSIDE-PG peer-group
router bgp 65279,neighbor IPV6-NORTHSIDE-PG remote-as 65179
router bgp 65279,neighbor IPV6-NORTHSIDE-PG timers 1 12
router bgp 65279,neighbor 198.18.96.1 peer-group IPV4-NORTHSIDE-PG
router bgp 65279,neighbor 198.18.96.1 activate
router bgp 65279,neighbor 198.18.96.2 peer-group IPV4-NORTHSIDE-PG
router bgp 65279,neighbor 198.18.96.2 activate
router bgp 65279,neighbor 2001:200:0:1400::1 peer-group IPV6-NORTHSIDE-PG
router bgp 65279,neighbor 2001:200:0:1400::2 peer-group IPV6-NORTHSIDE-PG
 !
router bgp 65279,address-family ipv4,neighbor 198.18.96.1 activate
router bgp 65279,address-family ipv4,neighbor 198.18.96.2 activate
 !
router bgp 65279,address-family ipv6,redistribute kernel route-map IPV6-RHI-BGP
router bgp 65279,address-family ipv6,redistribute connected route-map IPV6-CONNECTED
router bgp 65279,address-family ipv6,redistribute static route-map IPV6-STATIC
router bgp 65279,address-family ipv6,neighbor IPV6-NORTHSIDE-PG activate
router bgp 65279,address-family ipv6,neighbor IPV6-NORTHSIDE-PG soft-reconfiguration inbound
router bgp 65279,address-family ipv6,neighbor IPV6-NORTHSIDE-PG route-map IPV6-INBOUND-ROUTES in
router bgp 65279,address-family ipv6,neighbor IPV6-NORTHSIDE-PG route-map IPV6-OUTBOUND-ROUTES out
router bgp 65279,address-family ipv6,exit-address-family
!
bfd gtsm enable
!
ip prefix-list IPV4-CONNECTED seq 10 permit 198.18.32.0/24
ip prefix-list IPV4-DEFAULT seq 10 permit 0.0.0.0/0
ip prefix-list IPV4-VIRTUALS seq 10 permit 198.18.32.0/24 ge 32
ip prefix-list IPV4-STATICS seq 10 permit 198.18.32.0/24
!
ipv6 prefix-list IPV6-CONNECTED seq 10 permit 2001:200:0:1200::/64
ipv6 prefix-list IPV6-DEFAULT seq 10 permit ::/0
ipv6 prefix-list IPV6-VIRTUALS seq 10 permit 2001:200:0:1200::/64 ge 128
ipv6 prefix-list IPV6-STATICS seq 10 permit 2001:200:0:1200::/64
!
route-map IPV4-RHI-BGP permit 10,match ip address prefix-list IPV4-VIRTUALS
!
route-map IPV4-RHI-BGP deny 9999
!
route-map IPV4-CONNECTED permit 10,match ip address prefix-list IPV4-CONNECTED
!
route-map IPV4-CONNECTED deny 9999
!
route-map IPV4-STATIC permit 10,match ip address prefix-list IPV4-STATICS
!
route-map IPV4-STATIC deny 9999
!
route-map IPV4-INBOUND-ROUTES permit 10,match ip address prefix-list IPV4-DEFAULT
!
route-map IPV4-INBOUND-ROUTES deny 9999
!
route-map IPV4-OUTBOUND-ROUTES permit 10,match ip address prefix-list IPV4-CONNECTED
!
route-map IPV4-OUTBOUND-ROUTES permit 20,match ip address prefix-list IPV4-VIRTUALS
!
route-map IPV4-OUTBOUND-ROUTES permit 30,match ip address prefix-list IPV4-STATICS
!
route-map IPV4-OUTBOUND-ROUTES deny 9999
!
route-map IPV6-RHI-BGP permit 10,match ipv6 address prefix-list IPV6-VIRTUALS
!
route-map IPV6-RHI-BGP deny 9999
!
route-map IPV6-CONNECTED permit 10,match ipv6 address prefix-list IPV6-CONNECTED
!
route-map IPV6-CONNECTED deny 9999
!
route-map IPV6-STATIC permit 10,match ipv6 address prefix-list IPV6-STATICS
!
route-map IPV6-STATIC deny 9999
!
route-map IPV6-INBOUND-ROUTES permit 10,match ipv6 address prefix-list IPV6-DEFAULT
!
route-map IPV6-INBOUND-ROUTES deny 9999
!
route-map IPV6-OUTBOUND-ROUTES permit 10,match ipv6 address prefix-list IPV6-CONNECTED
!
route-map IPV6-OUTBOUND-ROUTES permit 20,match ipv6 address prefix-list IPV6-VIRTUALS
!
route-map IPV6-OUTBOUND-ROUTES permit 30,match ipv6 address prefix-list IPV6-STATICS
!
route-map IPV6-OUTBOUND-ROUTES deny 9999
write memory